*{
  margin: 0;
  padding: 0;
}
.container p.pages_title{
  margin-left: 17rem;
  display: flex;
  justify-content: center;
  transform: translateY(5rem);
  color: #F5CEA3;
  font-size:1.65rem;
  letter-spacing: 0.7px;

}
.container p.wallet_title{
  margin-left: 17rem;
  display: flex;
  color: #F5CEA3;
  font-size:1.65rem;
  letter-spacing: 0.7px;
  margin-top: -1.9rem;
  padding: 0 2rem;
  
}
